.attorneys{
    padding: 80px 0;
    min-height: 732px;
    &__cards{
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card{
        width: 328px;
        min-height: 373px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        margin: 0 auto;
    }
    &__descr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 52px;
        margin: 0 auto;
    }
    &__name{
        color: #252B42;
        font-family: 'Martel';
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
    &__position{
        text-align: center;
        font-weight: 700;
        margin-top: 5px;
        color: $second-color;
    }
    &__media{
        margin: 0 auto;
        margin-top: 5px;
        display: flex;
        &-link{
            margin: 0 5px;
        }
    }
}