.attorneys{
    padding: 80px 0;
    min-height: 732px;
    &__cards{
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card{
        max-width: 328px;
        width: 100%;
        min-height: 373px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        margin: 0 auto;
        margin-top: 30px;
        &_1{
            .attorneys__img{
                background: url('../../img/attorneys/01.png') center (center/cover) no-repeat;
            }
        }
        &_2{
            .attorneys__img{
                background: url('../img/attorneys/02.png') center (center/cover) no-repeat;
            }
        }
        &_3{
            .attorneys__img{
                background: url('../img/attorneys/03.png') center (center/cover) no-repeat;
            }
        }
    }

    &__img{
        height: 231px;
        max-width: 328px;
        width: 100%;
    }
    &__descr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 52px;
        margin: 0 auto;
    }
    &__name{
        color: #252B42;
        font-family: 'Martel';
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
    &__position{
        text-align: center;
        font-weight: 700;
        margin-top: 5px;
        color: $second-color;
    }
    &__media{
        margin: 0 auto;
        margin-top: 5px;
        display: flex;
        &-link{
            margin: 0 5px;
        }
    }
}
